<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.ising99.wkis.dao.VersionMapper">
    <!--<resultMap id="page" type="com.ising99.domain.ChannelPage">-->
    <!--<result property="page_count" column="page_count" jdbcType="INTEGER"></result>-->
    <!--</resultMap>-->
  <resultMap id="ising99Music" type="com.ising99.wkis.domain.Version">
    <result property="version" column="version" jdbcType="VARCHAR"></result>
  </resultMap>
    <select id="getIsing99Version" resultType="java.lang.String">
      select version from kds.kds_version order by id DESC limit 0, 1
    </select>
  </mapper>